@charset "utf-8";

/*  =========================
    Name: Elizabeth Sherwood
	Date: November 11, 2024
	Assignment: Bait Shop
	File Name: styles.css
    =========================
*/

/*  ============
    Main Styles:
    ============
*/
body {
    text-align: center;
    background-image: url("Eveningsky.jpg");
    margin: 1%;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3%;
}

.container {
    background-color: white;
    padding: 1%;
    margin: 2%;
}

footer {
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    font-size: 1em;
    font-variant: small-caps;
    line-height: 2em;
    padding-left: 1%;
}

header {
    font-size: 3em;
    font-weight: bold;
    padding: 5%;
    font-variant: small-caps;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

/*  ==================
    Navigation Styles:
    ==================
*/

nav,
ul,
li {
    display: inline;
    list-style-type: none;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
    margin: auto;
    padding: 15px;
}

nav a {
    color: turquoise;
    text-decoration: none;
}

nav a:hover {
    color: orangered;
}

.stocknav a:hover {
    opacity: 0.75;
}

/*  =============
    Table Styles:
    =============
*/

/*  ============
    Form Styles:
    ============
*/

.formcontainer {
    background-color: white;
    margin: auto;
    width: 60%;
    padding: 25px;
    border: 2px solid turquoise;
    text-align: left;
    font-variant: small-caps;
    box-shadow: 0 4px 8px 0 turquoise, 0 6px 20px 0 orangered;
    margin-top: 5%;
    margin-bottom: 15%;
}

label {
    display: block;
    padding-bottom: 20px;
    position: relative;
}

input {
    position: absolute;
    left: 16%;
    width: 80%;
    border: 1px dotted orangered;
}

.submit {
    width: initial;
    background-color: turquoise;
    color: black;
    font-weight: bold;
    margin-left: 15%;
    font-variant: small-caps;
}

/*  =============
    Media Styles:
    =============
*/

.Stockimages {
    width: 500px;
    height: 400px;
    margin: 1.5%;
    box-shadow: 0 4px 8px 0 turquoise, 0 6px 20px 0 orangered;
}

.logoimage {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 turquoise, 0 6px 20px 0 turquoise;
}

.homeimages {
    box-shadow: 0 4px 8px 0 turquoise, 0 6px 20px 0 orangered;
    width: 45%;
    padding: 1%;
    margin: 1.5%;
    width: 400px;
    height: 300px;
}

video {
    box-shadow: 0 4px 8px 0 turquoise, 0 6px 20px 0 orangered;
    width: 95%;
    padding: 1%;
    margin: 1.5%;
}

/*  ============
    Flex Styles:
    ============
*/


/*  ===================
    Media Query Styles:
    ===================
*/

@media screen and (max-width: 1800px) {
    .Stockimages {
        width: 450px;
        height: 350px;
    }
}

@media screen and (max-width: 1620px) {
    .Stockimages {
        width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 1450px) {
    .Stockimages {
        width: 350px;
        height: 250px;
    }
}

@media screen and (max-width: 1000px) {

    .formcontainer {
        width: 60%;
    }

    input {
        left: 26%;
        width: 70%;
    }

    .Stockimages {
        width: 300px;
        height: 200px;
        margin: 1%;
    }

    header {
        font-size: 2.5em;
        padding: 2.75%;
    }
}

@media screen and (max-width: 700px) {
    .formcontainer {
        width: 80%;
    }

    input {
        left: 30%;
        width: 60%;
    }

    .Stockimages {
        width: 200px;
        height: 150px;
    }

    header {
        font-size: 2em;
        padding: 2.55%;
    }
}