@charset "utf-8";

/*  =========================
    Name: Elizabeth Sherwood
	Date: November 11, 2024
	Assignment: Bait Shop
	File Name: styles.css
    =========================
*/

/*  ============
    Main Styles:
    ============
*/

/*  ==================
    Navigation Styles:
    ==================
*/

/*  =============
    Table Styles:
    =============
*/

/*  ============
    Form Styles:
    ============
*/

/*  ===================
    Media Query Styles:
    ===================
*/