@charset "utf-8";

/*  =========================
    Name: Elizabeth Sherwood
	Date: November 11, 2024
	Assignment: Bait Shop
	File Name: styles.css
    =========================
*/

/*  ============
    Main Styles:
    ============
*/
body {
    text-align: center;
    background-image: url("Eveningsky.jpg");
    margin: 1%;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3%;
}

.container {
    background-color: white;
    padding: 1%;
    margin: 3%;
}

footer {
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    font-size: 1em;
    font-variant: small-caps;
    line-height: 2em;
    padding-left: 1%;
}

.Stockimages {
    width: 400px;
    height: 300px;
    margin: 1.5%;
}
.logoimage {

}
/*  ==================
    Navigation Styles:
    ==================
*/

nav,
ul,
li {
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
    margin: auto;
    padding: 4px;

}

nav a {
    color: orangered;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

.stocknav a:hover {
color: hotpink;
}

/*  =============
    Table Styles:
    =============
*/

/*  ============
    Form Styles:
    ============
*/

/*  ===================
    Media Query Styles:
    ===================
*/